WordToSNArticle.SNConnection/Service References/SNKBA/InsertKBA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://www.service-now.com/InsertKBA" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.service-now.com/InsertKBA" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="unqualified" targetNamespace="http://www.service-now.com/InsertKBA">
      <xsd:element name="execute">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="category" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="topic" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="html" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="short_description" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="executeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="message" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="executeSoapOut">
    <wsdl:part name="InsertKBA" element="tns:executeResponse" />
  </wsdl:message>
  <wsdl:message name="executeSoapIn">
    <wsdl:part name="InsertKBA" element="tns:execute" />
  </wsdl:message>
  <wsdl:portType name="ServiceNowSoap">
    <wsdl:operation name="execute">
      <wsdl:input message="tns:executeSoapIn" />
      <wsdl:output message="tns:executeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceNowSoap" type="tns:ServiceNowSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="execute">
      <soap:operation soapAction="http://www.service-now.com/InsertKBA/execute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceNow_InsertKBA">
    <wsdl:port name="ServiceNowSoap" binding="tns:ServiceNowSoap">
      <soap:address location="https://milestone2.service-now.com/InsertKBA.do?SOAP" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>